<h1>Lista proyectos</h1>
<%= link_to 'Registrarse', new_user_registration_path %>
<%= link_to 'Nuevo Proyecto',new_project_path %> <br>

<% @projects.each do |p| %>
<h3><%= link_to p.nombre , p%></h3>
<%= p.descripcion %>

<% end %>